<dialog id="live-stream-dialog" class="live-stream-dialog">
  <div class="live-stream-dialog-container">
    <div class="live-stream-dialog-container-inside">
      <form><button class="close-dialog" value="cancel">close</button></form>

    </div>
  </div>
</dialog>


<div class="cover" id="cover" style="background-image: url('{{site.baseurl}}/assets/images/BG-web.jpg');">
  <div class="logo">
    <img
      src="{{ site.baseurl }}/assets/images/Logo_Lite_svg.svg"
      alt="CodeBeam Lite"
      width="90%"
    />
  </div>
  <div class="col-right cover-column-live-banner" style="display:none">
    <a href="https://twitter.com/CodeBEAMLiteMX" target="_blank" id="showLiveDialog">
    <img 
      src="{{ site.baseurl }}/assets/images/banner-livemx-VIRTUAL_CONFERENCES_3.png" 
      alt="Live"
      class="cover-live-banner"
    />
    </a>
  </div>
  <div class="col-right">
    <h4 class="date">
      CODE BEAM LITE MEXICO 2023 <br /> CELEBRATING 10 YEARS OF ELIXIR <br />
      <span style="color: #fff; font-size: 22px">Mexico City, March 3-4 2023</span><br />
      <span style="color: #fff; font-size: 18px">In person and virtual event</span>
    </h4>
    <span class="text-content mb-1">
      <ul>
        <li>2 days</li>
        <li>In person <span style="background:white; color:black"> &nbsp sold out &nbsp</span></li>
        <li>Virtual Conferences</li>
      </ul>
    </span>
    <p> LEARN &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        SHARE &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        INSPIRE
    </p>
    <p style="margin-bottom: 0;">
      Watch the recordings:
      <ul>
        <li><a href="https://www.youtube.com/watch?v=frX2SNagLJI" target="_blank">Day 1, all talks</a></li>
        <!-- <li><a href="./talks/exploring_elixir_codebases_with_archeometer/" target="_blank" style="text-align: left; font-size: 1em;">Day 2, Exploring Elixir Codebases with Archeometer - Agustín Ramos</a></li> -->
        <!-- <li><a href="./talks/writing_much_better_tests_in_elixir/" target="_blank" style="text-align: left; font-size: 1em;">Day 2, Writing much better tests in Elixir - Xochitl Pérez</a></li> -->
        <li><a href="https://www.youtube.com/watch?v=M-94luVihJ0" target="_blank" style="text-align: left; font-size: 1em;">Day 2, Exploring Elixir Codebases with Archeometer - Agustín Ramos</a></li>
        <li><a href="https://www.youtube.com/watch?v=L3GCjD35BwM" target="_blank" style="text-align: left; font-size: 1em;">Day 2, Writing much better tests in Elixir - Xochitl Pérez</a></li>
      </ul>
        <!-- <a class="page-scroll btn-outline btn-green-dark" href="#register" target="_blank">REGISTER</a> -->
      <!-- <a href="#register">Register</a> -->
       <!-- |  -->
      <!-- <a href="#cft">Call for speakers</a> | -->
      <!-- <a href="#sponsorship">Sponsor the event</a> -->
    </p>
  </div>
 <!--  <div class="cover-bottom">
    <h4 class="call-for-talks" style="color: #fff; font-size: 22px">
      <span style="color: #e32dfd;">CALL FOR TALKS</span>
      <br>
      IS OPEN AND CLOSES ON 17 JULY 2022
    </h4>
  </div>-->
</div>



<script>
  // live stream dialog control

  // const showLiveDialog = document.getElementById('showLiveDialog')
  // const liveDialog = document.getElementById('live-stream-dialog')
  
  // showLiveDialog.addEventListener('click', ()=>{
  //   liveDialog.showModal()
  // })

  // liveDialog.addEventListener('click', ()=>{
  //   liveDialog.close()
  // })

</script>
