<div class="section welcome" id="diversity">
    <h2 class="title">DIVERSITY</h2>
    <hr/>
    <p class="text-content">
        We are pleased to announce that Code BEAM Lite Mexico 2023 is implementing a Diversity Scheme.
        The goal of the programme is to improve diversity at the conference and to offer support to those 
        in the tech community who would not otherwise be able to attend, aimed at (but not restricted to) women, 
        people from ethnic minorities and people with disabilities.
        <!-- Read more about the process <a href="https://codesync.global/opportunity-scheme/" target="_blank">here</a>. -->
    </p>
    <p class="text-content">
        We are providing free diversity and inclusion places to under-represented groups int tech. Application closed on february 3th 2023.
    </p>
    <p class="text-content mb-5" align="center" style="margin-top:3em">
    <a class="page-scroll btn-outline btn-green mb-5" href="https://forms.gle/nvaXnv2Ni2j3pEMo8">APPLY</a>
</div>
