<div class="banner-1" id="students">
    <h3 class="text">
        As part of our efforts to grow the community, 
        the Education working group at the Erlang Ecosystem 
        Foundation would like to invite students, 
        who could otherwise not afford  to attend the 
        event for free. <strong>Application will close on February 3th 2023.</strong>
    </h3>
    <a class="page-scroll btn-outline btn-purple ml-1" href="https://forms.gle/9L5VGGaEHVqrQxMM7" target="_blank">APPLY</a>
</div>
