<div class="section venue" id="venue" style="background-image: url('{{site.baseurl}}/assets/images/venue-background-CHM.jpg');">
    <div class="row">
        <div class="left-content left">
            <h2 class="title">VENUES</h2>
            <hr/>
            <p class="venue-subtitle">Code spaces</p>
            <p><a href="#training">Trainings, 3th of March</a></p>
            <p class="venue-text">School of Engineering, UNAM<br>
                <!-- School of Engineering<br> -->
                Universidad Av. 3000<br>
                Coyoacán, CDMX<br>
                </p>

                <h2 class="venue-text">
                  <strong><a href="https://www.ingenieria.unam.mx/" style="color: #e32dfd" target="_blank">🌐</a></strong>
                </h2>
        </div>
        <div class="right-content">
            <br/>
            {% include map.html %}
        </div>
    </div>

<br><br>

    <div class="row">
        <div class="left-content left">
            <!-- <h2 class="title">VENUE</h2> -->
            <!-- <hr/> -->
            <p class="venue-subtitle">Italian Cultural Institute</p>
            <p><a href="#keynotes">Keynotes & Talks, 4th of March</a></p>

            <p class="venue-text">
               Av. Francisco Sosa 77, Del Carmen<br>
                Coyoacán, CDMX<br>
                </p>

                <h2 class="venue-text">
                  <strong><a href="https://iicmessico.esteri.it/iic_messico/it/" style="color: #e32dfd" target="_blank">🌐</a></strong>
                  <strong><a href="https://goo.gl/maps/yvWBRzBbS1Qcbcyv6" style="color: #e32dfd" target="_blank">📍️<a></strong>
                </h2>
        </div>
        <div class="right-content">
            <br/>
            <div id="map"></div>
            <script>
            function initMap() {
              // The location of Uluru
              const uluru = { lat: 19.3314918, lng: -99.1849444 };
              // The map, centered at Uluru
              const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 7,
                center: uluru,
              });
              // The marker, positioned at Uluru
              const marker = new google.maps.Marker({
                position: uluru,
                map: map,
              });
            }
            
            window.initMap = initMap;
            </script>
            <script 
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBf-F7nBzxi_73uI9QUxRQ-cNihYtlZ_AA&callback=initMap&v=weekly"
            defer></script>
            
        </div>
    </div>


</div>
