.contact
    background-color: $background-color
    color: #fff
    .title
        color: #ffffff
    .section-text
        color: #fff
    hr
        background: linear-gradient(to right, $secondary-color 50%, $primary-color 50%)
