.diversity
    background-color: $background-color
    // background: linear-gradient(0.50turn, $secondary-color-light, $primary-color-dark)
    // background-image: url('{{site.baseurl}}/assets/images/background-gradient.jpg')
    color: #fff
    padding: 6em, 8em
    

    .title
        color: #ffffff
    .section-text
        color: #fff
    hr
        background: linear-gradient(to right, $secondary-color 50%, $primary-color 50%)
    b
        // color: $secondary-color
        font-weight: bold
    
    .text-content
        padding: 0.5em 3em

    a
        