---
layout: default
title: In place conference March 03-04, 2023 | Mexico City
image: /assets/images/MX_BANNER_LITE.png

---
{% include es/cover.es.html %}
<!-- end of cover -->
{% comment %} {% include banner-1.html %} {% endcomment %}
<!-- end of hybrid banner -->
{% include es/welcome.es.html %}
<!-- end of welcome -->
{% comment %} {% include travelling.html %} {% endcomment %}
<!-- end of travelling -->
{% include es/register.es.html %}
<!-- end of register -->
{% include es/cft.es.html %}
<!-- end of cft  -->
{% comment %} {% include banner-2.html %} {% endcomment %}
<!-- end of banner-2 training -->
{% comment %} {% include recordings.html %} {% endcomment %}
<!-- end of recordings -->
{% comment %} {% include video.html %} {% endcomment %}
<!-- end of video -->
{% comment %} {% include schedule.html %} {% endcomment %}
<!-- end of schedule -->
{% comment %} {% include keynotes.html %} {% endcomment %}
<!-- end of speakers -->
{% comment %} {% include speakers.html %} {% endcomment %}
<!-- end of speakers -->
{% comment %} {% include lightningtalks.html %} {% endcomment %}
<!-- end of lightningtalks -->
{% comment %} {% include trainers.html %} {% endcomment %}
<!-- end of trainers -->
{% comment %} {% include training.html %} {% endcomment %}
<!-- end of training -->
{% comment %} {% include banner-3.html %} {% endcomment %}
<!-- end of banner-3 lighting talks call -->
{% include es/volunteer.es.html %}
<!-- end of volunteer -->
{% include es/students.es.html %}
<!-- end of students -->
{% include es/venue.es.html %}
<!-- end of venue -->
{% comment %} {% include hotels.html %} {% endcomment %}
<!-- end of hotels -->
{% comment %} {% include covid-19.html %} {% endcomment %}
<!-- end of covid-19 -->
{% comment %} {% include hybrid.html %} {% endcomment %}
<!-- end of hybrid -->
{% comment %} {% include shop.html %} {% endcomment %}
<!-- end of shop -->
{% comment %} {% include blog.html %} {% endcomment %}
<!-- end of blog -->
{% comment %} {% include members.html %} {% endcomment %}
<!-- end of members  -->
{% include es/diversity.es.html %}
<!-- end of diversity -->
{% comment %} {% include sponsors.html %} {% endcomment %}
<!-- end of sponsors -->
{% include es/sponsorship.es.html %}
<!-- end of sponsorship -->
{% comment %} {% include newsletter.html %} {% endcomment %}
<!-- end of newsletter -->
{% include es/contact.es.html %}
<!-- end of contact -->
