<div
  class="section cft"
  id="cft"
>
  <h2 class="title">PARTICIPAR COMO CONFERENCISTA</h2>
  <hr />
  <br />
  <div class="call-for-talks">
    <h3 class="text-title mb-1">
      ¿TIENES LO QUE SE NECESITA PARA DIRIGIR UNA SESIÓN DE CONFERENCIA O UN TUTORIAL?<br>
    </h3>
    <p class="text-content mb-2">
      ¿Has realizado alguna innovación interesante, una aplicación de código abierto o un producto con erlang/otp?<br>
      ¿Has utilizado erlang o elixir en un proyecto del mundo real y quieres presentar una caso de estudio?<br>
      cuéntanos.<br />
      <br/>
      Este año estamos aceptando charlas de personas que están felices de darlas en persona. Damos la bienvenida a propuestas sobre Erlang, Elixir, BEAM y otras tecnologías y nos complace apoyar a candidatos de grupos sin representación en la comunidad de desarrollo de software.
      Fecha límite de la convocatoria: <b>23:59 CT del 30 de diciembre de 2022</b> 
      <br />
    </p>
    <ul class="text-content mb-2">
      Estamos buscando excelentes charlas en torno a los siguientes temas:
      <li>
        Crecimiento
      </li>
      <li>
        DevOps
      </li>
      <li>
        Web/nube
      </li>
      <li>
        Lucha contra la deuda técnica
      </li>
      <li>Innovación</li>
      <li>
        Historia y filosofía del ecosistema
      </li>
    </ul>
    <a
      class="page-scroll btn-outline btn-purple mb-5 btn-purple"
      href="https://forms.gle/BRciK6871NRjQVJP9"
      target="_blank"
      >PARTICIPA</a
    >
  </div>
</div>
