<div class="section diversity" id="diversity">
    <h2 class="title">DIVERSIDAD</h2>
    <hr/>
    <p class="text-content">
        Orgullosamente Code BEAM Lite Mexico 2023 es incluyente. 
        <br/><br/>
        Promovemos la diversidad durante el evento y ofrecemos apoyo a todas la comunidades tecnológicas interesadas que podrían tener alguna limitante para participar como por ejemplo grupos indígenas, vulnerables y/o personas con discapacidad.
        
        <!-- Read more about the process <a href="https://codesync.global/opportunity-scheme/" target="_blank">here</a>. -->
        <br />
        <br />
        Ofrecemos lugares gratuitos especiales para grupos vulnerables o no representados en el área de tecnología que tengan alguna limitante económica para participar.
        <b>Las solicitudes para estos grupos cierran el 3 de febrero del 2023.</b>
        <br />
        <br />
    </p>
    <p style="">
        <a class="page-scroll btn-outline btn-grey mb-5" href="https://forms.gle/nvaXnv2Ni2j3pEMo8" target="_blank">APLICAR</a>
    </p>
</div>
