<div class="section register-widget" id="register">
    <h2 class="title">REGISTRO</h2>
    <hr/>
    <div style="width:100%;"></div> 
    <span class="marquee">Las entradas para las conferencias presenciales están agotadas<br>Puedes acompañarnos en las <a href="#schedule">Conferencias Virtuales</a></span>

    <div class="register-widget" id="eventbrite-widget-container-451773495687">&nbsp;</div>

    <script src="https://www.eventbrite.com.mx/static/widgets/eb_widgets.js"></script>
    
    <script type="text/javascript">
        var exampleCallback = function() {
            console.log('Order complete!');
        };
    
        window.EBWidgets.createWidget({
            // Required
            widgetType: 'checkout',
            eventId: '451773495687',
            iframeContainerId: 'eventbrite-widget-container-451773495687',
    
            // Optional
            iframeContainerHeight: 700,  // Widget height in pixels. Defaults to a minimum of 425px if not provided
            onOrderComplete: exampleCallback  // Method called when an order has successfully completed
        });
    </script>
</div>
