<div class="section sponsor" id="sponsors">
    <h2 class="title">PATROCINADORES</h2>
    <hr/>

    <div class="row sponsors">


      <h2 class="sponsor-title">Patrocinador Platinum</h2>

            <a href="https://www.bunsan.io" target="_blank">
                <img src="{{site.baseurl}}/assets/images/sponsors/bunsan-logo-white.png" alt="Bunsan" style="height: 6em;">
            </a>
            <a href="https://resuelvetudeuda.com" target="_blank">
                <img src="{{site.baseurl}}/assets/images/sponsors/resuelve-tu-deuda.png" alt="Resuelve tu deuda" style="height: 6em;">
            </a>

		  <a href="https://www.pepsico.com" target="_blank">
               <img src="{{site.baseurl}}/assets/images/sponsors/pepsi.png" alt="PepsiCo" style="height: 6em;">
          </a>

		  <a href="http://www.makingdevs.com" target="_blank">
               <img src="{{site.baseurl}}/assets/images/sponsors/making_devs.png" alt="Making devs" style="height: 6em;">
          </a>

      <h2 class="sponsor-title">Patrocinador Oro</h2>

          <a href="https://www.erlang-solutions.com/" target="_blank">
              <img src="{{site.baseurl}}/assets/images/sponsors/erlangsolutions-logo-white.png" alt="Erlang Solutions" style="height: 5em;">
          </a>

      <h2 class="sponsor-title">Patrocinador de entradas para Diversidad, Inclusión y Estudiantes</h2>

          <a href="https://erlef.org" target="_blank">
               <img src="{{site.baseurl}}/assets/images/sponsors/EEF-logo-white.png" alt="Erlang Ecosystem Foundation" style="height: 6em;">
          </a>
          <br />          <br />

      <h2 class="sponsor-title">Code spaces</h2>
            <a href="https://www.unam.mx/" target="_blank">
                <img src="{{site.baseurl}}/assets/images/sponsors/UNAM_blanco.png" alt="Universidad Nacional Autónoma de México" style="height: 95%;">
            </a> 
  
            <a href="https://www.ingenieria.unam.mx/" target="_blank">
                 <img src="{{site.baseurl}}/assets/images/sponsors/FI_BLANCO.png" alt="Facultad de ingeniería">
            </a>
            <a href="http://sefi.org.mx/" target="_blank">
                 <img src="{{site.baseurl}}/assets/images/sponsors/SEFI_BLANCO.png" alt="SEFI" style="height: 95%;"/>
            </a>

      <h2 class="sponsor-title">Patrocinador de medios</h2>
            <a href="https://sg.com.mx" target="_blank">
                <img src="{{site.baseurl}}/assets/images/sponsors/softwareguru.png" alt="Software Guru" style="height: 4em;">
            </a> 

            <a href="https://es.beincrypto.com" target="_blank">
                <img src="{{site.baseurl}}/assets/images/sponsors/BeInCrypto.png" alt="Be In Crypto"  style="height: 4em;">
            </a>

        <!-- Sponsors Carousel -->
                    <!-- <div id="testimonials-carousel" class="sponsor-testimonial">
      {% for sponsor in site.data.sponsors %}
      <h3 class="name">{{ sponsor.name }}</h3>

      {% endfor %}
    </div> -->
    </div>
</div>
