<div class="banner-1" id="students">
    <h3 class="text">
        Como parte de los esfuerzos para que estudiantes que no tengan posibilidad de pagar el registro al evento, interesados en conocer y pertenecer a la comunidad Erlang y Elixir, ofrecemos lugares gratuitos limitados para ellos.
        <strong>Las solicitudes para estudiantes cierran el 20 de febrero del 2023</strong>
    </h3>
    <a class="page-scroll btn-outline btn-purple ml-1" href="https://forms.gle/K3HwTE21s7j1J5wA9" target="_blank">APLICAR</a>
</div>
