<div class="section venue" id="venue" style="background-image: url('{{site.baseurl}}/assets/images/venue-background-CHM.jpg');">
    <div class="row">
        <div class="left-content left">
            <h2 class="title">SEDES</h2>
            <hr/>
            <p class="venue-subtitle">Code Spaces</p>
            <p><a href="#training">Entrenamientos, 3 de Marzo</a></p>
            <p class="venue-text">Facultad de ingeniería, UNAM<br>
                Av Universidad 3000, C.U.<br>
                Coyoacán, CDMX</p>

                <h2 class="venue-text">
                  <strong><a href="https://www.ingenieria.unam.mx/" style="color: #e32dfd" target="_blank">🌐</a></strong>
                </h2>

                <!-- <p class="venue-subtitle">HOW TO GET THERE?</p>
                <p class="venue-text">-> The easiest way is to take a taxi or an Uber. It's only 26-minute drive from San Francisco Airport and 18-minute drive from San Jose Airport.<br>
                    -> The Museum has 400 free onsite parking spaces.<br>
                -->
        </div>
        <div class="right-content">
            <br/>
            {% include map.html %}
        </div>
    </div>


    <div class="row">
        <div class="left-content left">
            <p class="venue-subtitle">Instituto Italiano de Cultura</p>
            <p><a href="#keynotes">Conferencias, 4 de Marzo</a></p>

            <p class="venue-text">
                Av. Francisco Sosa 77<br>
                Coyoacán, CDMX</p>

                <h2 class="venue-text">
                  <strong><a href="http://www.iicmessico.esteri.it/" style="color: #e32dfd" target="_blank">🌐</a></strong>
                  <strong><a href="https://goo.gl/maps/TebrM1NM8skBWzgn8" style="color: #e32dfd" target="_blank">📍️</a></strong>
                </h2>
        </div>
        <div class="right-content">
            <br/>
            {% include map.html %}
        </div>
    </div>

</div>
