<div class="section venue" id="venue" style="background-image: url('{{site.baseurl}}/assets/images/venue-background-CHM.jpg'); background-repeat: round;">
    <div class="row">
        <div class="left-content left">
            <h2 class="title">SEDES</h2>
            <hr/>
            <p class="venue-subtitle">Code spaces</p>
            <p><a href="#training">Entrenamientos, 3 de Marzo</a></p>
            <p class="venue-text">Facultad de Ingeniería, UNAM<br>
                Av. Universidad 3000, C.U.<br>
                Coyoacán, CDMX<br>
                </p>

                <h2 class="venue-text">
                  <strong><a href="https://www.ingenieria.unam.mx/" style="color: #e32dfd" target="_blank">🌐</a></strong>
                  <strong><a href="https://goo.gl/maps/MMrB3UspuRUNBERh9" style="color: #e32dfd" target="_blank">📍️</a></strong>
                </h2>
        </div>
        <div class="right-content">
            <br/>
            {% comment %}{% include map.html %}{% endcomment %}
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2052.8125127396142!2d-99.18566725805387!3d19.33124400187066!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85ce00015be0a713%3A0x3fc11681a8244370!2sFaculty%20of%20Engineering%2C%20UNAM!5e0!3m2!1sen!2sus!4v1675206667798!5m2!1sen!2sus" width="500" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="gmap_canvas"></iframe>
        </div>
    </div>

<br><br>

    <div class="row">
        <div class="left-content left">
            <p class="venue-subtitle">Instituto Italiano de Cultura</p>
            <p><a href="#keynotes">Conferencias, 4 de Marzo</a></p>

            <p class="venue-text">
               Av. Francisco Sosa 77, Del Carmen<br>
                Coyoacán, CDMX<br>
                </p>

                <h2 class="venue-text">
                  <strong><a href="https://iicmessico.esteri.it/iic_messico/it/" style="color: #e32dfd" target="_blank">🌐</a></strong>
                  <strong><a href="https://goo.gl/maps/yvWBRzBbS1Qcbcyv6" style="color: #e32dfd" target="_blank">📍️</a></strong>
                </h2>
        </div>
        <div class="right-content">
            <br/>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3075.399362685451!2d-99.16804198717658!3d19.34950835401746!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1ffc2b49c9903%3A0x8fd5b88a11687cc3!2sItalian%20Cultural%20Institute!5e0!3m2!1sen!2sus!4v1675206534051!5m2!1sen!2sus" width="500" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="gmap_canvas"></iframe>
        </div>
    </div>

    <div class="row">
        <div class="left-content left">
            <p class="venue-subtitle">Online</p>
            <p><a href="#virtual-speakers">Virtual talks, 3 de Marzo</a></p>
            <h2 class="venue-text">
                via <a href="https://twitter.com/CodeBEAMLiteMX" target=_blank>🌐 @CodeBEAMLiteMX Twitter live</a>
            </h2>
        </div>
        <div class="right-content">
            <br/>
        </div>
    </div>


    <div class="row">
        <div class="left-content left">
            <p class="venue-subtitle">Hospedaje sugerido</p>
            <p><a href="https://www.cityexpress.com/plus/hoteles-mexico/ciudad-de-mexico/benito-juarez/patio-universidad">🌐 City Express - Patio Universidad</a></p>
            <h2 class="venue-text">
                Av. Popocatépetl 546<br>Benito Juarez, CDMX
            </h2>
            <p style="font-style: italic;"><i>Menciona que eres parte de la Code Beam para recibir un descuento.</i></p>
        </div>
        <div class="right-content">
            <br/>
        </div>
    </div>

</div>
